<div id = "albumContent" >

    <div class="ui grid">

        <div class="left floated  four wide column" >

            <img class="ui small rounded image" :src= 'data_for_view.album.pathToImage'>

        </div>
        <div class="right floated left aligned twelve wide column">
            <a class="ui teal right ribbon label">Альбом</a>

            <div class="one column row" >
                <div class ="sexteen wide column">
                    <h1 class="ui header"> {{data_for_view.album.name}} </h1>
                    <a class="ui blue image label" v-on:click = 'transferArtist'>
                        <img :src="data_for_view.artist.pathToImage">
                        {{data_for_view.artist.name}}
                        <div class="detail">Исполнитель</div>
                    </a>
                    <a class="ui violet label">
                        Год
                        <div class="detail">{{new Date(this.data_for_view.album.DateOfIssue).getFullYear()}}</div>
                    </a>
                    <a class="ui purple label">
                        Жанр
                        <div class="detail">{{data_for_view.album.genreAlbum}}</div>
                    </a>
                </div>

            </div>

        </div>
        <div class="left aligned two column row" lala ='text'>

        </div>
    </div>
    <div id = "tracks" >
        <div class = "ui segments" v-for = "track in data_for_view.tracks">
            <div class = "ui blue segment">
                <div  class="sixteen wide column" >
                    <div name = 'track'  v-on:mouseenter = 'selectedTrack($event,$index)'
                         v-on:mouseleave = 'leavedTrack($event,$index)'>
                        <div class="ui grid two column">
                            <div class="left aligned column">
                                {{$index+1}}. {{track.name | trimTypeFile}}
                            </div>
                            <div v-if = 'show == $index' class="right aligned  column" >
                                <div  class = "mini ui icon buttons" style ="margin-top:-6px">
                                    <div  id = "opa" class=" ui blue basic  button " v-on:click = 'transferPlayTrack($event,$index)'>
                                        <i class="play icon" ></i>
                                    </div>
                                    <div  class="ui blue basic button" v-on:click = 'transferTrack($event,$index)'>
                                        <i class="add icon" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
