<div id = 'album'>
    <div class="ui card" >
        <div class="image">
            <img :src= 'album.pathToImage'>
        </div>
        <div class="content">
            <div class="header" align="center" >
                <a v-on:click = 'transferAlbum'><font color ='black'>{{album.name}} </font> </a>
            </div>
        </div>
    </div>
</div>