<div>
    <div class="ui grid">
        <div class="left floated  six wide column" >
            <img class="ui small circular image" :src= 'data_for_view.artist.pathToImage'>
        </div>
        <div class="right floated left aligned ten wide column">
            <a class="ui purple right ribbon label">Артист</a>

            <div class="one column row" >
                <div class ="sexteen wide column">
                    <div class="ui inverted purple compact segment">
                        <h1 class="ui header"> {{data_for_view.artist.name}} </h1>
                    </div>
                    <a class="ui purple label" v-text = 'genre' v-for = 'genre in data_for_view.artist.genre'>
                        jiji
                        <div class="detail">{{genre}}</div>

                    </a>
                </div>

            </div>

        </div>
        <div class="left aligned two column row" >

        </div>
    </div>

    <div id = 'listAlbums' >
        <div >
            <div class= "ui three column grid" >
                <div class="column"  v-for = 'album in data_for_view.album'>
                    <album :album = 'album' :switch-view = 'events.switchView'> </album>
                </div>
            </div>
            <div class = "content" align="center" style = 'margin-top: 20px'>
                <button class="ui purple labeled icon button" v-on:click = 'needAlbums'>
                    <i class="angle double down icon"></i>
                    Добавить
                </button>
            </div>



        </div>
    </div>
</div>