<div id = 'viewContent' class = 'ui segment' >
    <component :is = 'current_view' :data_for_view = 'data_for_view.dataWithServer' :events = 'events'
              :filter-params = 'filterParams' transition="fade"  transition-mode="out-in">

    </component>
    <div class="ui active centered inline loader" v-show= '$root.fetching.nextContent' style="margin-top: 30px"></div>
</div>