<div id = 'startPage'>
    <div class= "ui four column grid" >
        <div class="column"  v-for = 'data in data_for_view'>
            <album :data = 'data' switchView = '$root.events.switchView'> </album>
        </div>
    </div>

</div>