<div class = 'app'>
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Найти..." >
            <i class="search icon"></i>
        </div>
        <div class="results" v-on:click = getContent>

        </div>
    </div>
    <a v-on:click = 'setView'>Расширенный поиск</a>
    <div id = 'inf' class="ui grid two column">
        <div v-el:view class ="ten wide column">
            <view_content :data_for_view = 'dataForView' :current_view = 'currentView'
                          :events = 'events' :filter-params = 'filter'>

            </view_content>
        </div>
        <div class ="six wide column">
            <div class="">
                <player :player = 'player' :events = 'events'> </player>
            </div>
        </div>
    </div>
</div>
