<div  class = 'ui inverted segment'  v-on:mouseenter = 'selectedTrack($index)'
      v-on:mouseleave = 'leavedTrack()'>

    <div class="ui grid two column">
        <div class="left aligned column">
            {{track.name | trimTypeFile}}
        </div>
        <div v-show = 'showPanel' class="right aligned  column label" style = 'margin-left: -7px'>
            <div  class = "mini ui icon buttons" >
                <div  class=" ui blue basic  button " v-on:click = 'transferPlayTrack'>
                    <i :class="[$root.player.playTrack.data.track.name == $parent.listMusic.listShowTracks[index].track.name && $root.player.playTrack.isPlay ?  'pause' : 'play','icon']"  ></i>
                </div>
                <div  direct = 'raise' class=" ui blue basic  button " v-on:click = 'editTrackList'>
                    <i class="Arrow Up icon" ></i>
                </div>
                <div direct = 'lower' class=" ui blue basic  button " v-on:click = 'editTrackList'>
                    <i class="Arrow Down icon" ></i>
                </div>
                <div  class=" ui blue basic  button " v-on:click = 'deleteItemFromTrackList'>
                    <i class="delete icon" ></i>
                </div>
            </div>
        </div>
    </div>
</div>