<div >
    <div class= "ui three column grid" >
        <div class="column"  v-for = 'album in data_for_view.album'>
            <album :album = 'album' :switch-view = 'switchView'> </album>
        </div>
    </div>
    <div class = "content" align="center" style = 'margin-top: 20px'>
        <button class="ui purple labeled icon button" >
            <i class="angle double down icon"></i>
            Добавить
        </button>
    </div>
</div>