<div class = 'item'>
    <img v-el:image class="ui avatar image" :src="$parent.currentContent != 'track' ? main.pathToImage : child.pathToImage">
    <div class="content">
        <a class="header" v-on:click = 'transferMain'>{{main.name | trimTypeFile}}</a>
        <div v-if = "$parent.currentContent != 'artist' " class="description" v-on:click = 'transferChild'>
            <a>{{child.name}}</a>
        </div>
        <div v-else class = "description">
            <a v-for = 'genre in main.genre' v-on:click = 'transferChild(genre)'> {{genre}}</a>
        </div>

    </div>
</div>