<div  id = 'album'>
    <div class="ui card" >
        <div class="image">
            <img v-el:image :src= 'data.album.pathToImage'>
        </div>
        <div class="content">
            <div >
                <a v-on:click = 'transferAlbum'><font  class = 'name' color ='black'>{{data.album.name}} </font> </a>
            </div>
            <div class="meta">
                <a class = 'name' v-on:click = 'transferArtist'>
                    <i class="user icon"></i>
                    {{data.artist.name}}
                </a>
            </div>
        </div>
    </div>
</div>