<div v-el:playlist class ='ui segments' v-show = 'listMusic.listShowTracks.length > 0'>

    <track  v-for = 'music in listMusic.listShowTracks' :index = $index :track = listMusic.listShowTracks[$index].track>

    </track>

    <div class = 'ui grid'>
        <div class="one column row">
            <div class ="center aligned sexteen wide column">

                <i class="Chevron Circle Down icon" v-on:click = 'showNextTracks'></i>

            </div>
        </div>
    </div>

</div>