<div>
    <filter :add-content = 'addContent' :restore-content = 'restoreContent' :update-current-genres = 'updateCurrentGenres'
            :params = "filterParams"> </filter>
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="first" v-on:click = 'switchTab'>Альбомы</a>
        <a class="item" data-tab="second" v-on:click = 'switchTab'>Артисты</a>
        <a class="item" data-tab="third" v-on:click = 'switchTab'>Треки</a>
    </div>
    <div :class="['ui',$root.fetching.viewTab ? 'loading' : '', 'tab', 'active']" data-tab="first">
       <list-content v-if = 'Content.album == currentContent' :for-transfer-content = 'forTransferContent' :list-content = 'data_for_view' :current-content = 'Content.album'> </list-content>
    </div>
    <div :class="['ui', $root.fetching.viewTab ? 'loading' : '','tab']" data-tab="second">
        <list-content v-if="Content.artist == currentContent" :for-transfer-content = 'forTransferContent' :list-content = 'data_for_view' :current-content = 'Content.artist'></list-content>
    </div>
    <div :class="['ui', $root.fetching.viewTab ? 'loading' : '','tab']" data-tab="third">
        <list-content v-if="Content.track == currentContent" :for-transfer-content = 'forTransferContent' :list-content = 'data_for_view' :current-content = 'Content.track'></list-content>
    </div>
</div>