<div id = "tracks" class = 'ui segments'>
    <div v-bind:class = "['ui',show == $index ? 'myblue' : '','segment']" v-for = "track in data_for_view.tracks"  v-on:mouseenter = 'selectedTrack($event,$index)'
         v-on:mouseleave = 'leavedTrack($event,$index)' >
        <div >
            <div  class="sixteen wide column" >
                <div  name = 'track' >
                    <div class="ui grid two column">
                        <div class="left aligned column">
                            {{$index+1}}. {{track.name | trimTypeFile}}
                        </div>
                        <div v-show = 'show == $index' class="right aligned  column" style = 'margin-left: -10px'>
                            <div  class = "mini ui icon buttons" >
                                <div  id = "opa" class=" ui blue basic  button " v-on:click = 'transferPlayTrack($event,$index)'>
                                    <i :class="[$root.player.playTrack.data.track.name == data_for_view.tracks[$index].name && $root.player.playTrack.isPlay ?  'pause' : 'play','icon']" ></i>
                                </div>
                                <div  class="ui blue basic button" v-on:click = 'transferTrack($event,$index)'>
                                    <i class="add icon" ></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>