<div class="ui grid" >

    <div class="left floated  four wide column " >
        <img class="ui small circular image" :src= 'artist.pathToImage'>
    </div>
    <div class="right floated left aligned twelve wide column">
        <div class = 'ui grid'>
            <div class = "left floated left aligned twelve wide column ">

                <div class="inverted purple compact " style = "margin-top: 29px">
                    <h1 class="ui header"> {{artist.name}} </h1>
                </div>
                <a class="ui purple label" v-text = 'genre' v-for = 'genre in artist.genre' style = 'margin-top: 5px'>
                    <div class="detail">{{genre}}</div>
                </a>
            </div>
            <div class = 'right floated two wide column '>
                <a class="ui purple right ribbon label">Артист</a>
            </div>
        </div>

    </div>
</div>