<div id = 'artistContent'>

    <info-artist :artist = 'data_for_view.artist'> </info-artist>

    <list-albums :data_for_view = 'data_for_view' :switch-view = 'events.switchView'> </list-albums>

</div>