<div id = 'listContent'>
    <div class="ui relaxed divided animated list">
        <content :main = 'content[currentContent]' :child = 'content[childContent[currentContent]]' v-for = 'content in listContent'
                :transfer-track = 'forTransferContent.track' :transfer-genre = 'forTransferContent.genre' :transfer-another = 'forTransferContent.another' :current = 'currentContent'> </content>

    </div>
</div>