<div class="ui grid">
    <div class="left floated  four wide column" >

        <img class="ui small rounded image" :src= 'album.pathToImage'>

    </div>
    <div class="right floated left aligned twelve wide column">
        <a class="ui teal right ribbon label">Альбом</a>

        <div class="one column row" >
            <div class ="sexteen wide column">
                <h1 class="ui header"> {{album.name}} </h1>
                <a class="ui blue image label" v-on:click = 'transferArtist'>
                    <img :src="artist.pathToImage">
                    {{artist.name}}
                    <div class="detail">Исполнитель</div>
                </a>
                <a class="ui violet label">
                    Год
                    <div class="detail">{{new Date(this.album.DateOfIssue).getFullYear()}}</div>
                </a>
                <a v-on:click = 'transferGenre' class="ui purple label">
                    Жанр
                    <div class="detail">{{album.genreAlbum}}</div>
                </a>
            </div>

        </div>

    </div>
    <div class="left aligned two column row" >

    </div>
</div>