<div class = 'ui fluid centered card'>
    <div>
        <img class="ui fluid image album" :src = 'playTrack.data.album.pathToImage'  v-on:click = 'transferToAlbum'>
    </div>
    <div class="content" align="center">
        <img class="ui small circular image artist" :src="playTrack.data.artist.pathToImage"  v-on:click = 'transferToArtist'>
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="left floated six wide column ">
                <div class="header">
                    {{playTrack.data.track.name | trimTypeFile}}
                </div>
                <div class="meta">
                    <a v-on:click = 'transferToAlbum'><span>{{playTrack.data.album.name}}</span></a>

                </div>
            </div>
            <div class="center floated four wide column volume" >
                <div v-show ='showVolume' >
                    <input type="text" v-el:volume value="" name="range" v-model="volume"/>
                </div>
            </div>
            <div class="right floated right aligned six wide column buttons">
                <div  class = "mini ui icon buttons" >
                    <div  class=" ui blue basic  button " v-on:click = 'playMusic'>
                        <i v-bind:class="[playTrack.isPlay ? 'pause' : 'play','icon']" ></i>
                    </div>
                    <div  class=" ui blue basic  button " v-on:click = 'stopMusic'>
                        <i class="stop icon" ></i>
                    </div>
                    <div  class=" ui blue basic  button " v-on:dblclick = 'mute' v-on:click = 'showVolumeSlider'>
                        <i v-bind:class="['volume',isMute ? 'off' : 'up', 'icon'] " ></i>
                    </div>
                </div>
            </div>

            <div class = 'ui right aligned sixteen wide column' v-on:mousedown = 'offsetProgress' v-on:mouseup = 'offsetProgress'>
                <div class = 'progress-line' style = ''>
                    <div class="irs-min progress-label">{{progress | transformToTime}} </div>
                    <div class="irs-max progress-label">{{duration}}</div>
                    <input type="text" v-el:progress value="" name="range" v-model = 'progress'/>
                </div>
            </div>
        </div>
    </div>
    <div v-el:jplayer>

    </div>
</div>