img {
    cursor: pointer
}
.image.artist {
    margin-top: -85px
}
.fluid.image.album {
    height: 200px
}
.column.volume {
    margin-top: -12px
}
.column.buttons {
    margin-left: -10px;
    margin-top: 5px;
}
.progress-line {
    margin-top: -25px
}
.irs-min.progress-label {
    margin-top: -10px;
    margin-left: 15px;
}
.irs-max.progress-label {
    margin-top: -10px;
    margin-right: 15px;
}