.dropdown {
    margin-top: 10px;
}
.search {
    margin-top: 10px;
}
.ui.multiple.dropdown > .label {
    background-color: rgb(0, 181, 173);
    color: white
}
.dropdown.button {
    margin-top: 10px;
}