<div v-el:filter>

    <div class="ui grid">
        <div class="left aligned sixteen wide column">
            <select v-on:click = 'show' v-el:genres class="ui fluid search dropdown" multiple="">
                <option value="">Жанры</option>
                <option v-for="genre in params.availableGenres" :value="genre">{{genre}}</option>

            </select>
        </div>
    </div>
</div>