<div v-el:playlist amount-tracks = 5 class ='ui segments' v-show = 'listMusic.listShowTracks.length > 0'>
    <div  class = 'ui inverted segment' v-for = 'music in listMusic.listShowTracks' v-on:mouseenter = 'selectedTrack($index)'
         v-on:mouseleave = 'leavedTrack()'>

            <div class="ui grid two column">
                <div class="left aligned column">
                    {{music.track.name | trimTypeFile}}
                </div>
                <div v-show = 'show == $index' class="right aligned  column label" style = 'margin-left: -7px'>
                    <div  class = "mini ui icon buttons" >
                        <div  class=" ui blue basic  button " v-on:click = 'transferPlayTrack($event,$index)'>
                            <i class="play icon" ></i>
                        </div>
                        <div  direct = 'raise' class=" ui blue basic  button " v-on:click = 'editTrackList($index,$event)'>
                            <i class="Arrow Up icon" ></i>
                        </div>
                        <div direct = 'lower' class=" ui blue basic  button " v-on:click = 'editTrackList($index,$event)'>
                            <i class="Arrow Down icon" ></i>
                        </div>
                        <div  class=" ui blue basic  button " v-on:click = 'deleteItemFromTrackList($index)'>
                            <i class="delete icon" ></i>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class = 'ui grid'>
        <div class="one column row">
            <div class ="center aligned sexteen wide column">

                <i class="Chevron Circle Down icon" v-on:click = 'showNextTracks'></i>

            </div>
        </div>
    </div>

</div>