<div class = 'ui fluid centered card'>
    <div class =''>
        <img class="ui fluid image" :src = 'playTrack.data.album.pathToImage' style = "height: 160px" v-on:click = 'transferToAlbum'>
    </div>
    <div class="content" align="center">
        <img class="ui small circular image" :src="playTrack.data.artist.pathToImage" style="margin-top: -85px" v-on:click = 'transferToArtist'>
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="left floated six wide column ">
                <div class="header">
                    {{playTrack.data.track.name | trimTypeFile}}
                </div>
                <div class="meta">
                    <a v-on:click = 'transferToAlbum'><span>{{playTrack.data.album.name}}</span></a>

                </div>
            </div>
            <div class="center floated four wide column" style = 'margin-top: -12px'>
                <div v-show ='showVolume' >
                    <input type="text" v-el:volume value="" name="range" v-model="volume"/>
                </div>
            </div>
            <div class="right floated right aligned six wide column ">
                <div  style = 'margin-left: -10px;margin-top: 5px'>
                    <div  class = "mini ui icon buttons" >
                        <div  class=" ui blue basic  button " v-on:click = 'playMusic'>
                            <i v-bind:class="[playTrack.isPlay ? 'pause' : 'play','icon']" ></i>
                        </div>
                        <div  class=" ui blue basic  button " v-on:click = 'stopMusic'>
                            <i class="stop icon" ></i>
                        </div>
                        <div  class=" ui blue basic  button " v-on:dblclick = 'mute' v-on:click = 'showVolumeSlider'>
                            <i v-bind:class="['volume',isMute ? 'off' : 'up', 'icon'] " ></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class = 'ui right aligned sixteen wide column' v-on:mousedown = 'offsetProgress' v-on:mouseup = 'offsetProgress'>
                <div style = 'margin-top: -25px'>
                    <div class="irs-min" style="margin-top: -10px;margin-left: 15px">{{progress | transformToTime}} </div>
                    <div class="irs-max" style="margin-top: -10px;margin-right: 15px" v-on:mousedown = 'offsetTime' >{{duration}}</div>
                    <input type="text" v-el:progress value="" name="range" v-model = 'progress' v-on:mousedown = 'offsetTime'/>
                </div>

            </div>

        </div>

    </div>
    <div v-el:jplayer>

    </div>
</div>