
<div id = "player">
    <div class="ui grid">
        <div class="sixteen wide column">
            <playtrack  v-show = 'player.playTrack.ready' :play-track = 'player.playTrack'> </playtrack>
        </div>
        <div class="sixteen wide column">
            <playlist v-show = "true" :list-music = 'player.listMusic' :playTrack = 'player.playTrack'> </playlist>
        </div>
    </div>
</div>
